<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testawsamplify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Little help"
        android:roundIcon="@mipmap/roundlogo"

        android:supportsRtl="true"
        android:theme="@style/Theme.TestAWSAmplify">
        <activity
            android:name=".loading"
            android:exported="true" />
        <activity
            android:name=".confirmCodeActivity"
            android:exported="true" />
        <activity
            android:name=".commonActivity"
            android:exported="true" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ConfirmActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".forgotActivity" />
        <activity
            android:name=".BootActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>